/* Add accessible line-height */
/* The line-height comes from https://www.joshwcomeau.com/css/custom-css-reset/#digit-tweaking-line-height
  "One downside is that we have to set it on all elements with * instead of applying it to the body. This
   is because the em unit doesn't inherit well; it won't recalculate the value of 1em for every element.
   On this blog, for example, it broke my code playgrounds, because the third-party code assumed that
   line-height was inheritable, as it usually is." */
* {
  line-height: calc(1em + 0.5rem);
}

/* Improve text rendering */
body {
  -webkit-font-smoothing: antialiased;
}

/* See https://css-tricks.com/fixing-smooth-scrolling-with-find-on-page/ */
html:focus-within {
  scroll-behavior: smooth;
}

/* add margin if scroll bar not visible
   Note: leaving space for a scroll bar can result in obviously uneven margins
   on smaller screens when there is no scroll bar.  This is potentially an issue
   on environments without overlay scrollbars and very narrow viewports, but 
   such environments are very uncommon and in my contrived examples behaviour
   is entirely acceptable imo. */
body {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  overflow-x: hidden;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Make underlines more readable for links */
a {
  text-decoration-skip-ink: auto;
}
