@import "@skeletonlabs/skeleton/themes/theme-skeleton.css";
@import "@skeletonlabs/skeleton/styles/all.css";
@import "@skeletonlabs/skeleton/themes/theme-hamlindigo.css";

html,
body {
  @apply h-full overflow-hidden;
}

:root {
  --theme-font-family-base: "", sans-serif;
  --theme-font-family-heading: "", sans-serif;
}

div.hide-paginator-label label.paginator-label {
  display: none;
}
