[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = ">=0.9.0"
asyncpg = "*"
av = "*"
deepface = "*"
faiss-cpu = "*"
fastapi = "*"
fastapi-utils = "*"
ffmpeg-python = "*"
imageio = "*"
joblib = ">=1.3.2"
jsonlines = "*"
ml_dtypes = "0.2.0"
numpy = "*"
opencv-python = "*"
pacmap = "*"
pandas = "*"
pgvector = "*"
pointgrid = "*"
python-dotenv = "*"
rich = "*"
scipy = "*"
scikit-learn = "*"
six = ">=1.14.0"
tensorflow = "*"
tensorflow-probability = "==0.23"
tf-slim = ">=1.1.0"
typing-inspect = "*"
umap-learn = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
ipython = "*"
ruff = "*"

[requires]
python_version = "3.10"
