[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
av = "*"
deepface = "*"
faiss-cpu = "*"
fastapi = "*"
fastapi-utils = "*"
ffmpeg-python = "*"
imageio = "*"
jsonlines = "*"
ml_dtypes = "0.2.0"
numpy = "*"
opencv-python = "*"
pandas = "*"
pgvector = "*"
python-dotenv = "*"
rich = "*"
scipy = "*"
scikit-learn = "*"
tensorflow = "*"
umap-learn = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
ipython = "*"
ruff = "*"

[requires]
python_version = "3.10"
