[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
av = "*"
faiss-cpu = "*"
fastapi = "*"
fastapi-utils = "*"
imageio = "*"
jsonlines = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
pgvector = "*"
python-dotenv = "*"
rich = "*"
scipy = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
ipython = "*"
ruff = "*"

[requires]
python_version = "3.10"
